.spacer {
  flex: 1 1 auto;
}

mat-toolbar {
  display: flex;
  justify-content: space-between;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #141414;
  color: white;
  z-index: 10;
}

.footer-content {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.footer-links a {
  color: white;
  text-decoration: none;
  margin: 0 10px;
}

.footer-links a:hover {
  text-decoration: underline;
}

.footer-icons a {
  color: white;
  margin: 0 5px;
}

.footer-icons mat-icon {
  font-size: 24px;
}
